.git
.github
.pytest_cache
.ruff_cache
.mypy_cache
.mypy_cache/**
**/.mypy_cache
**/.mypy_cache/**
.opencode
.coverage
htmlcov
.venv
.venv*
__pycache__
**/__pycache__
**/__pycache__/**
*.pyc
*.pyo
*.pyd
.DS_Store
.idea
.vscode

frontend

outputs
index
uploaded_code
neo4j_data
tests
docs
tmp

*.zip
