fastapi==0.112.2
uvicorn==0.30.6
aiofiles==24.1.0
python-multipart==0.0.9
sentence-transformers==2.7.0
faiss-cpu==1.8.0.post1
numpy==1.26.4
neo4j==5.23.1
javalang==0.13.0
pydantic>=1.10,<2
python-dotenv==1.0.1
litellm==1.35.7
